<% if notice.present? %>
  <div class="alert alert-success">
    <a href="#" class="alert-link"><%= notice %></a>
  </div>
<% end %>

<% if notice.present? %>
  <div class="alert alert-danger">
    <a href="#" class="alert-link"><%= alert %></a>
  </div>
<% end %>